<a href="https://colab.research.google.com/github/y-u-eun/python/blob/main/pyramid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [187]:
# num-pyramid 1

while(True) :

  try :
      n = int(input('번호를 입력하세요\n'))

      if n >= 10 :
          print('10보다 작은 정수를 입력하세요.\n')
      elif n < 1 :
          print('1보다 크거나 같은 정수를 입력하세요.\n')
      else:
         break

  except ValueError :
      print('정수가 아닙니다.\n')

a = []

for i in range(1 , n+1) :
  a.append(i)

if n <= 9 :
  a.insert(0 , ' ')
  a.insert(1 , ' ')
  a.insert(3 , ' ')
  a.insert(4 , ' ')
  a.insert(5 , ' ')
  a.insert(9 , ' ')

for i in range(0, len(a)) :
  print(a[i] , end = '')
  if i % 5 == 4 :
    print()

번호를 입력하세요
6
  1
 234
56

In [ ]:
# num-pyramid 2

while(True) :

  try :
      n = int(input('번호를 입력하세요\n'))

      if n >= 10 :
          print('10보다 작은 정수를 입력하세요.\n')
      elif n < 1 :
          print('1보다 크거나 같은 정수를 입력하세요.\n')
      else:
         break

  except ValueError :
      print('정수가 아닙니다.\n')

if n == 1 :
  for k in range(1 , n + 1) :
    print(' ' + ' ' + str(k))

elif n <= 4 :
  for k in range(1 , n + 1) :
    if k  == 1 :
      print(' ' + ' ' + str(k))
    elif k == 2 :
      print(' ' + str(k), end = '')
    else :
      print(k, end = '')

else :
  for k in range(1 , n + 1) :
    if k  == 1 :
      print(' ' + ' ' + str(k))
    elif k == 2 :
      print(' ' + str(k), end = '')
    elif k == 4 :
      print(k)
    else :
      print(str(k), end = '')

In [ ]:
# *-pyramid

while(True) :

  try :
      n = int(input('번호를 입력하세요\n'))

      if n >= 10 :
          print('10보다 작은 정수를 입력하세요.\n')
      elif n < 1 :
          print('1보다 크거나 같은 정수를 입력하세요.\n')
      else:
         break

  except ValueError :
      print('정수가 아닙니다.\n')

a = 1
b = 2

if n == 1 :
  ri = 1
  for i in range(0 , ri) :
    print(' ' * b , end = '')
    b -= 1
    for k in range(0 , a) :
      print('*' , end = '')
    print()

elif n <= 4 :
  ri = 2
  for i in range(0 , ri) :
    print(' ' * b , end = '')
    b -= 1
    for k in range(0 , a) :
      print('*' , end = '')
    print()
    a = n - a

else :
  ri = 3
  for i in range(0 , ri) :
    print(' ' * b , end = '')
    b -= 1
    for k in range(0 , a) :
      print('*' , end = '')
    print()
    a += 2
    if n <= 6 and a == 5:
      a = n - a + 1
    elif (n <= 6 and a == 3) or (n > 6 and a == 3) :
      a = a
    else :
      a = n - 4